body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer
{
   background-color: chocolate;
   color: aliceblue;
   text-align: center;
   padding: 1em;
}
nav ul
{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
nav ul li
{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
    text-decoration: underline;
}

/* cart */
.container
{
    width: 800px;
    margin: auto;
}
.cartcol1
{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: aqua;
}
/*img adjust option */
.cartcol1 img
{
    width: 300px;
    height: 200px;
}
.cartcol2 
{
    padding: 20px;
    width: 250px;
}
.cartcol2 h3, h4, a 
{
    margin-bottom: 30px;
}
.cartcol3 hr{
    margin-bottom: 30px;
}
.cartcol3 
{
    padding: 20px;
    height: 250px;
}
.main
{
    display: flex;
}
.releventimg, .releventtext
{
    width: 600px;
}
.releventimg
{
    width: 100%;
}
.button
{
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.button:hover
{
    background: gray;
}
.popup
{
    background: chocolate;
    color: aliceblue;
    width: 80%;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
.overlay
{
    top: 0;
    bottom: 0;
    position: fixed;
    visibility: hidden;
}
.overlay:target
{
    visibility: visible;
}





/* responsive design */
@media (max-width: 768px)
{
    nav ul
    {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 700px)
{
    .container
    {
        width: 95%;
    }
    .cartcol1 img
    {
        width: 200px;
        height: 150px;
    }
}